{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all-time favourite movies.</p>
    {% if movies.notnull %}
  <div class="card" >
    <div class="front" style="background-image: url({{movies[0].img_url}});">
        <p class="large">{{movies[0].ranking}}</p>
    </div>
    <div class="back">
      <div>
    <div class="title">{{movies[0].title}}<span class="release_date">{{movies[0].year}}</span></div>
        <div class="rating">
            <label>{{movies[0].rating}}</label>
          <i class="fas fa-star star"></i>
        </div>
          <p class="review">{{movies[0].review}}</p>
        <p class="overview">
            {{movies[0].description}}
        </p>

        <a href="{{url_for('edit',title=movies[0].title)}}" class="button">Update</a>
        <a href="{{url_for('delete',title=movies[0].title)}}" class="button delete-button">Delete</a>

      </div>
    </div>
  </div>
    {% endif %}
</div>
<div class="container text-center add">
<a href="{{url_for('add')}}" class="button">Add Movie</a>
</div>

{% endblock %}